[Unit]
Description=Improbability SMS Assistant
After=network.target

[Service]
ExecStart=/usr/bin/gunicorn -b :8000 -w 4 --chdir /opt/improbability/sms_ai_assistant --timeout 30 --keep-alive 5 -k gthread app:app
WorkingDirectory=/opt/improbability/sms_ai_assistant
User=root
Group=root
EnvironmentFile=/etc/improbability/exports
PassEnvironment=LOG_PATH SECRET_KEY SQLALCHEMY_DATABASE_URI SQLALCHEMY_TRACK_MODIFICATIONS GOOGLE_CLIENT_ID GOOGLE_CLIENT_SECRET GOOGLE_AUTHORIZATION_URL GOOGLE_TOKEN_URL STRIPE_PUB_KEY STRIPE_API_KEY STRIPE_ENDPOINT_SECRET SENDGRID_API MICROSOFT_CLIENT_ID MICROSOFT_CLIENT_SECRET MICROSOFT_CLIENT_SECRET_ID MICROSOFT_AUTHORIZATION_URL MICROSOFT_TOKEN_URL MICROSOFT_REDIRECT_URI SEO_FOR_DATA_KEY TWILIO_ACCOUNT_SID TWILIO_AUTH_TOKEN GROQ_KEY GROQ_API_KEY GROQ_SECRET_ACCESS_KEY OPEN_AI_KEY OPEN_AI_MODEL GOOGLE_ANALYTICS_ID GOOGLE_SITE_VERIFICATION BING_SITE_VERIFICATION 
Restart=always

[Install]
WantedBy=multi-user.target
